{% extends 'base.twig' %}

{% block title %}Cyberturity® | Step 2 – Billing Details{% endblock %}

{% block content %}
    <main id="main">
        <div class="cyber-block text-dark pt-50 pt-md-100 pb-65">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <div class="px-xl-30">
                            <div class="form-content shadow bg-white pb-50 pb-md-90">
                                <div class="heading-title d-flex bg-primary text-white text-uppercase p-15">
                                    <div class="middle-content d-flex justify-content-center align-items-center text-center w-100">
                                        <strong class="title">Complete the 3 steps - submit your payment - and you’re ready to go!</strong>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-8 col-lg-6">
                                        <div class="pt-25 px-15 px-md-0">
                                            {{ form_start(form, {attr: {class: 'billing-form'}}) }}
                                                <div class="step-holder overflow-hidden position-relative">
                                                    <ol class="step-list text-gray-light d-flex justify-content-between  text-center list-unstyled mb-50">
                                                        <li class="success">
                                                            <span>License</span>
                                                        </li>
                                                        <li class="active">
                                                            <span>Billing details</span>
                                                        </li>
                                                        <li>
                                                            <span>Summary</span>
                                                        </li>
                                                    </ol>
                                                </div>
                                                <div class="heading text-center mb-25 mb-md-50">
                                                    <div class="icon-holder mb-10">
                                                        <span class="icon-user"></span>
                                                    </div>
                                                    <h2>Billing details</h2>
                                                </div>

                                                {{ form_row(form.firstName) }}
                                                {{ form_row(form.lastName) }}
                                                {{ form_row(form.email) }}
                                                {{ form_row(form.companyName) }}
                                                {{ form_row(form.addressLine1) }}
                                                {{ form_row(form.addressLine2) }}
                                                {{ form_row(form.country) }}

                                                <div class="row mx-md-n12">
                                                    <div class="col-md-6 px-md-12">
                                                        {{ form_row(form.city) }}
                                                    </div>
                                                    <div class="col-md-6 px-md-12">
                                                        {{ form_row(form.postalCode) }}
                                                    </div>
                                                </div>
                                                <div class="pt-15">
                                                    {{ form_widget(form.submit, {attr: {class: 'btn-primary w-100 text-center p-15'}}) }}
                                                </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

